<!doctype html>
<html lang="en">

<head>
    <title>URL Shortener Microservice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div class="page-header">
        <h1>URL Shortener Microservice API</h1>
    </div>
    <div>
        <h2>What is this?</h2>
        <p>
            This is a microservice API project for Free Code Camp that will accept a URL and return a shortened URL response.If input URL is invalid or duplicate response returns an error message.
        </p>
        <h3>Usage:</h3>
        <pre>https://frozen-reaches-95347.herokuapp.com/new/http://www.google.com/</pre>
        <h3>Example Response:</h3>
        <pre>
					{
						"originalURL":"http://www.twitter.com/",
						"urlCode":1002,
						"shortURL":"pE.theo"
					}
  	</pre>
  	<h4 style="color:red">UI to enter URL coming up soon!!</h4>
    </div>
</body>

</html>
